<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-50.50logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.sitoolkit.rdg.core.domain.schema" level="DEBUG"/>

  <logger name="io.sitoolkit.rdg.core.application.DependentRowDataGenFunc" level="TRACE"/>

  <logger name="io.sitoolkit.rdg.core.domain.schema.TableSorter" level="TRACE"/>

  <logger name="io.sitoolkit.rdg.core.domain.generator" level="TRACE"/>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>


</configuration>